@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
* {
  box-sizing: border-box;
}
body, html, .app {
  position: relative;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.page h1 {
  font-weight: 100;
  font-size: 36px;
  margin: 12px 0 30px;
}
.page h1 a {
  margin-right: 20px;
  text-decoration: none;
}
.page h1 a:hover {
  opacity: 0.8;
}

/*Transitions*/
.modal-enter-active, .modal-leave-active {
  transition: all 0.15s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.modal-enter-from, .modal-leave-to {
  opacity: 0;
  transform: scale(1.3);
}
